#keyboard {
  align-items: center;
  justify-content: center;
  display: flex;
}

.keyboard-background {
  background-color: var(--gray);
  border-radius: 3px;
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.keyboard-row {
  flex-wrap: nowrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  align-items: center;
}

.key,
.keyboard-row__two-keys {
  background-color: white;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
}

.keyboard-row__two-keys {
  display: flex;
  flex-direction: column;
}

.fifth-row span:not(.key__space) {
  width: 70px;
}

.key__backspace {
  width: 100px;
}

.key__tab,
.key__straight {
  width: 80px;
  box-sizing: border-box;
}

.key__capslock {
  width: 90px;
}

.key__enter {
  width: 120px;
}

.key__shift-left {
  width: 120px;
}

.key__shift-right {
  width: 150px;
}

.key__space {
  width: 330px;
}
