#user-defined-view {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 400px;
  margin-top: 50px;
}

.mode-switch-button {
  width: 60px;
  height: 30px;
  background-color: var(--gray);
  border-radius: 25px;
  position: relative;
  min-width: 60px;
}

.mode-switch-button button {
  border: 2px solid var(--gray);
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  left: 0;
  transition: left 0.3s;
  border-radius: 50%;
  cursor: pointer;
}

.mode-switch-button button.active {
  left: 30px;
}
