@import 'variables.css';

@import 'components/keyboard.css';
@import 'components/mode.css';
@import 'components/input.css';
@import 'components/font.css';

* {
  box-sizing: border-box;
}

body.dark-mode {
  filter: invert(100%) hue-rotate(180deg);
  background-color: black;
}

input {
  font-family: inherit;
}
